@import url("../Inicial/colors.css");


html {
    font-family: Inter;
    font-size: 1.2em;
}

body {
    margin: 0;
}

/* Navegação */
.navigator {
    display: flex;
    list-style: none;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.nav1 {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 12px;
}

#openSidebar {
  cursor: pointer;
  display: flex;
  padding: 12px;
  border-radius: 6px;
  color: inherit;
}





.nav2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-right: 60px;
}

#textSidebar {
  margin-inline: 12px 0;
  padding: 12px;
  display: flex;
  border-radius: 6px;

}


#closeSidebar {
  cursor: pointer;
  margin-inline: 0 12px;
  padding: 12px;
  display: flex;
  border-radius: 6px;
  color: inherit;

}

.sidebar-icons li a {
 display: flex;
 gap: 12px;
}





/* Layout */
.inicio {
    display: grid;
    margin: 24px;
    text-align: justify;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 1000;
}

h2 {
text-align: center;
font-size: 1em;
font-weight: normal;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.4em;
}







img {
width: 20vh;
border-radius: 12px;
}

.imagens-ctd {
background: url(../Src/Imagens/1.jpg);

}

.inicio p a {
text-decoration: none;
}








.gridbutton {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-block: 12px;
}

a.button {
    font-weight: bold;
    padding: 12px;
    padding-inline: 24px;
    border-radius: 4em;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
}

a.button-sugest {
    font-weight: bold;
    padding-inline: 24px;
    border-radius: 4em;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
}

/* Sidebar */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: -280px;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 2;
}

.navigator-sidebar {
    display: flex;
    list-style: none;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-weight: bold;
}

.sidebar-icons {
    display: grid;
    padding: 0px;
    margin: 0;
}

.sidebar-icons li {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin: 6px 12px 0px 12px;
  border-radius: 6px;
  padding: 12px;
  gap: 6px;
}

svg {

}


i {
  width: 24px;
  height: 24px;
}

a:focus, a:active {
    outline: none;
    box-shadow: none;
}

a, li {
    -webkit-tap-highlight-color: transparent;
}



li.contrast-light {
display: none;
}

li.contrast-dark {
display: none;
}




/*-----------------------TEORIA MINERAIS--------------------------------------*/

h5 {
    padding: 4em;
    margin: 0;
    background: var(--color-blue-primary);
    border-radius: 12px;
    padding-inline: 8em;
}



.background-image-mireral {
    background-image: url(../Src/2560x1600-light-green-solid-color-background.jpg);
    height: 12em;
  border-radius: 12px;
  background-position: center;
  display: flex;
  justify-content: space-between;
  transition: background-image 0.5s ease-in-out;
  background-size: cover;

}


.navimg {
display: flex;
  align-items: center;
  width: auto;
  margin-inline: 6px;
}

a#leftimg, a#rightimg {
    display: flex;
    border-radius: 100%;
    cursor: pointer;
    padding: 6px;
}


.indicators {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 24px;
}

.indicators span {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.indicators span.active {
width: 36px;

}